.idea

**/.idea/*
**/*.iml
**/*.ipr
**/*.iws
**/*.ids
**/.mvn
**/target/*
**/src/main/resources/application.properties
**/src/main/resources/application-prod.properties
**/src/main/resources/application-dev.properties
**/mvnw
**/mvnw.cmd

.env
.env.dev
.env.prod


