spring.application.name=bookmytrip-user-service
server.port=

eureka.client.serviceUrl.defaultZone=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.datasource.driver-class-name=org.postgresql.Driver

spring.main.allow-bean-definition-overriding=true

spring.jwt.secret=

spring.data.redis.host=
spring.data.redis.port=

spring.kafka.producer.bootstrap-servers=
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
spring.kafka.producer.value-serializer=org.apache.kafka.common.serialization.StringSerializer

spring.rabbitmq.host=
spring.rabbitmq.port=
spring.rabbitmq.username=
spring.rabbitmq.password=

openapi.service.title=user-service doc
openapi.service.version=1.0.0
openapi.service.url=

springdoc.api-docs.path: /user-service/v3/api-docs
springdoc.api-docs.enabled=true
springdoc.swagger-ui.enabled=true
springdoc.swagger-ui.path: /user-service/swagger-ui.html
